<img src="https://i.imgur.com/oGZ3t6d.png" alt="Haxiom Logo">
Hi there,

Welcome to Haxiom — we're really glad you're here.

To get started, here’s your verification code:

🔐 Your code: {{ .VerificationCode }}

Your link : <a href="{{ .VerificationURL }}">{{ .VerificationURL }}</a>

Haxiom is built for teams like yours — the ones tired of digging through outdated docs, chasing Slack threads, and answering the same questions every sprint. We're here to make documentation feel like part of your workflow — not a separate chore.

If you have any feedback, thoughts, or just want to say hi — we’d love to hear from you.

Thanks again for joining us.
Let’s build better docs, together.

—

Warmly,
The Haxiom Team

#DocsThatDon’tSuck 🚀