version: 2.1

orbs:
  sdk: ory/sdk@0.1.17
  changelog: ory/changelog@0.0.6
  goreleaser: ory/goreleaser@0.0.26
  nancy: ory/nancy@0.0.8

jobs:
  lint:
    docker:
      -
        image: circleci/golang:1.13
        environment:
          - GO111MODULE=on
    working_directory: /go/src/github.com/ory/kratos
    steps:
      - checkout
      -
        restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      -
        run: go mod download
      -
        save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
      -
        run: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.20.1
      -
        run: make lint

  test:
    docker:
      -
        image: circleci/golang:1.13
        environment:
          - GO111MODULE=on
          - TEST_MAILHOG_SMTP=smtp://test:test@127.0.0.1:1025
          - TEST_MAILHOG_API=http://127.0.0.1:8025
          - TEST_SELFSERVICE_OIDC_HYDRA_ADMIN=http://127.0.0.1:4445
          - TEST_SELFSERVICE_OIDC_HYDRA_PUBLIC=http://127.0.0.1:4444
          - TEST_SELFSERVICE_OIDC_HYDRA_INTEGRATION_ADDR=127.0.0.1:4499
          - TEST_DATABASE_POSTGRESQL=postgres://test:test@localhost:5432/postgres?sslmode=disable
          - TEST_DATABASE_MYSQL=mysql://root:test@(localhost:3306)/mysql?parseTime=true&multiStatements=true
          - TEST_DATABASE_COCKROACHDB=cockroach://root@localhost:26257/defaultdb?sslmode=disable
      -
        image: mailhog/mailhog:v1.0.0
        command: MailHog -invite-jim -jim-linkspeed-affect=0.25 -jim-reject-auth=0.25 -jim-reject-recipient=0.25 -jim-reject-sender=0.25 -jim-disconnect=0.25 -jim-linkspeed-min=1250 -jim-linkspeed-max=12500
      -
        image: postgres:9.6
        environment:
          - POSTGRES_USER=test
          - POSTGRES_PASSWORD=test
          - POSTGRES_DB=postgres
      -
        image: mysql:5.7
        environment:
          - MYSQL_ROOT_PASSWORD=test
      -
        image: cockroachdb/cockroach:v19.2.0
        command: start --insecure
      -
        image: oryd/hydra:v1.2.2
        environment:
          - DSN=memory
          - URLS_SELF_ISSUER=http://127.0.0.1:4444/
          - URLS_LOGIN=http://127.0.0.1:4499/login
          - URLS_CONSENT=http://127.0.0.1:4499/consent
        command: serve all --dangerous-force-http
    working_directory: /go/src/github.com/ory/kratos
    steps:
      - checkout
      - setup_remote_docker
      -
        run: GO111MODULE=off go get github.com/mattn/goveralls github.com/ory/go-acc
      -
        restore_cache:
          keys:
            - go-v1-{{ checksum "go.sum" }}
      -
        run: go mod download
      -
        save_cache:
          key: go-v1-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
      -
        run: timeout 15 sh -c 'until nc -z $0 $1; do sleep 1; done' 127.0.0.1 4444
      -
        run: go-acc -o coverage.txt ./... -- -v -failfast -timeout=20m -tags sqlite
      -
        run: test -z "$CIRCLE_PR_NUMBER" && goveralls -service=circle-ci -coverprofile=coverage.txt -repotoken=$COVERALLS_REPO_TOKEN || echo "forks are not allowed to push to coveralls"

workflows:
  tbr:
    jobs:
      - nancy/test
      -
        lint:
          filters:
            tags:
              only: /.*/
      -
        test:
          filters:
            tags:
              only: /.*/
      - sdk/generate:
          appname: Ory_Kratos
          requires:
            - test
            - lint
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /master/
      - sdk/release:
          requires:
            - test
            - lint
            - sdk/generate
            - goreleaser/release
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - changelog/generate:
          requires:
            - test
            - lint
          filters:
            tags:
              only: /.*/
            branches:
              only: master
      - goreleaser/test:
          filters:
            tags:
              only: /.*/
# Uncomment this to enable the dry-release test pipeline. Useful for debugging builds.
#
#      - goreleaser/release-dry:
#          filters:
#            tags:
#              only: /.*/
      - goreleaser/release:
          requires:
            - goreleaser/test
            - test
            - lint
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
