Verify your account with the following code:

{{ .VerificationCode }}

or clicking the following link:

<a href="{{ .VerificationURL }}">{{ .VerificationURL }}</a>

If this was not you, do nothing. This code / link expires in {{ .ExpiresInMinutes }} minutes.
