Please verify your account by entering the following code:

{{ .VerificationCode }}

or clicking the following link:

{{ .VerificationURL }}

This code / link expires in {{ .ExpiresInMinutes }} minutes.
