
.selected {
    background-color: #ffba00;
}

div.question {
    display: none;
}

button.selected.kratos {
    color:red;
}

button.selected.kratos~.question.kratos {
    display: inline;
    
}

button.selected.oidc {
    color:red;
}

button.selected.oidc~.question.oidc {
    display: inline;
    
}

button.selected.blub {
    color:red;
}

button.selected.blub~.question.blub {
    display: inline;
    
}

button.selected.bla {
    color:red;
}

button.selected.bla~.question.bla {
    display: inline;
    
}
