
p {
    margin-bottom: 0px;
}
    
.selected {
    background-color: #ffba00;
}

div.question {
    display: none;
}

button.selected.kratos {
    color:red;
}

button.selected.kratos~.question.kratos {
    display: inline;
    
}

button.selected.spa {
    color:red;
}

button.selected.spa~.question.spa {
    display: inline;
    
}

button.selected.hooks {
    color:red;
}

button.selected.hooks~.question.hooks {
    display: inline;
    
}

button.selected.admin {
    color:red;
}

button.selected.admin~.question.admin {
    display: inline;
    
}

button.selected.sessions {
    color:red;
}

button.selected.sessions~.question.sessions {
    display: inline;
    
}

button.selected.self-service {
    color:red;
}

button.selected.self-service~.question.self-service {
    display: inline;
    
}

button.selected.traits {
    color:red;
}

button.selected.traits~.question.traits {
    display: inline;
    
}

button.selected.oidc {
    color:red;
}

button.selected.oidc~.question.oidc {
    display: inline;
    
}

button.selected.kyc {
    color:red;
}

button.selected.kyc~.question.kyc {
    display: inline;
    
}
