.selected {
  background-color: #ffba00;
}

div.question {
  display: none;
}

li.selected.kratos {
  color: red;
}

li.selected.kratos ~ .question.kratos {
  display: inline;
}

li.selected.secrets {
  color: red;
}

li.selected.secrets ~ .question.secrets {
  display: inline;
}

li.selected.config {
  color: red;
}

li.selected.config ~ .question.config {
  display: inline;
}

li.selected.database {
  color: red;
}

li.selected.database ~ .question.database {
  display: inline;
}

li.selected.ecosystem {
  color: red;
}

li.selected.ecosystem ~ .question.ecosystem {
  display: inline;
}

li.selected.user {
  color: red;
}

li.selected.user ~ .question.user {
  display: inline;
}

li.selected.validation {
  color: red;
}

li.selected.validation ~ .question.validation {
  display: inline;
}

li.selected.traits {
  color: red;
}

li.selected.traits ~ .question.traits {
  display: inline;
}

li.selected.registration {
  color: red;
}

li.selected.registration ~ .question.registration {
  display: inline;
}

li.selected.cors {
  color: red;
}

li.selected.cors ~ .question.cors {
  display: inline;
}

li.selected.feature {
  color: red;
}

li.selected.feature ~ .question.feature {
  display: inline;
}

li.selected.hooks {
  color: red;
}

li.selected.hooks ~ .question.hooks {
  display: inline;
}

li.selected.migration {
  color: red;
}

li.selected.migration ~ .question.migration {
  display: inline;
}

li.selected.security {
  color: red;
}

li.selected.security ~ .question.security {
  display: inline;
}

li.selected.oidc {
  color: red;
}

li.selected.oidc ~ .question.oidc {
  display: inline;
}

li.selected.spa {
  color: red;
}

li.selected.spa ~ .question.spa {
  display: inline;
}
