Hello,

A new sign-in method (device key) was added to your account. If you did
this, no further action is needed.

If this wasn't you, secure your account immediately and contact support.

Account ID: {{ index .Identity "id" }}
Added at: {{ .AddedAt }}
