<p>Hello,</p>
<p>A new sign-in method (device key) was added to your account. If you did this, no further action is needed.</p>
<p>If this wasn't you, secure your account immediately and contact support.</p>
<p><strong>Account ID:</strong> {{ index .Identity "id" }}<br/>
<strong>Added at:</strong> {{ .AddedAt }}</p>
