Verify your account by opening the following link:

<a href="{{ .VerificationURL }}">{{ .VerificationURL }}</a>

If this was not you, do nothing. This link expires in {{ .ExpiresInMinutes }} minutes.
