Recover access to your account by clicking the following link:

<a href="{{ .RecoveryURL }}">{{ .RecoveryURL }}</a>

If this was not you, do nothing. This link expires in {{ .ExpiresInMinutes }} minutes.
